@font-face {
  font-family: 'compass';
  src: url('fonts/CompassPro.eot');
  src: local('CompassPro'), local('compass'),
  url('fonts/CompassPro.eot?#iefix') format('embedded-opentype'),
  url('fonts/CompassPro.woff') format('woff'),
  url('fonts/CompassPro.ttf') format('truetype');
  font-weight: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  background: #8cc137;
  overflow: hidden;
  cursor: url(../img/chickenCursor.png), auto;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#drawCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: solid 1px #1b2a0f;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(27, 42, 15, .5);
}

#gameDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

#button-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  border: solid 1px #1b2a0f;
  box-shadow: 0 0 5px 1px rgba(27, 42, 15, .5);

  margin: 0;
  padding: 0 0 0 4px;
  max-width: 80%;

  background: #8cc137;
  font-family: compass, serif;
  font-size: 2em;
}

#button-container {
  display: flex;
  flex-wrap: nowrap;

  cursor: move;
}

#button-container > h2 {
  display: flex;
  margin: 0;
  padding: 0 4px;
}

#button-container > div {
  display: flex;

  border-left: solid 1px #1b2a0f;

  position: relative;
  margin: 0;
  padding: 0;
}

#button-container > div button {
  float: left;
  background: transparent;
  border: 2px solid transparent;
  line-height: 0;
  margin: 3px;
  padding: 0;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

#button-container > div button:hover {
  border-color: #cfcf00;
}

#button-container > div button.active {
  border-color: #000;
}

#button-container > div > div button img {
  line-height: 0;
}

#button-container > div#menu-buttons {
  min-width: 113px;
}

#button-container > div#tile-buttons {
  overflow-x: auto;
  overflow-y: hidden;
}

#button-container > div#tile-buttons button img {
  width: 32px;
  height: 32px;

  object-fit: none;
  object-position: 0 0;
}
