html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #8cc137;
  overflow: hidden;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

#drawCanvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: url(../img/mouse-cursor.png), auto;

  border: solid 1px #1b2a0f;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgba(27, 42, 15, .5);
}

#gameDiv {
  position: relative;
  width: 100%;
  height: 100%;
}
